@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

header, footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.hero-image {
    position: relative;
    width: 100%;
}

.hero-image img {
    width: 100%;
    height: auto;
    display: block;
    z-index: -1;
}

nav {
    position: absolute;
    width: 100%;
    top: 17%; /* Adjust this value to move the nav up or down */
    transform: translateY(-50%);
    z-index: 10;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    /* background: rgba(255, 255, 255, 0.8); */ /* Semi-transparent white background */
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 30px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-size: 10px;
    padding: 10px 15px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

nav ul li a:hover {
    background: #ddd;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
